<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.liebich.1p-ssh</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0B010229-E017-4007-A4BA-EBACFDA09709</key>
		<array/>
		<key>138415AE-19B9-402E-921A-E60A80BE4BAA</key>
		<array/>
		<key>3D0F8F42-B0C5-43C6-9044-CA660DEFA751</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F255CAC8-AA78-49B1-A89E-6AD76025EE13</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45041D10-DD9A-43FD-B45E-5B9278258254</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A63AAE6-5909-496C-83A3-53DBAD7A13D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4FA4F774-1032-496C-BF2B-ABFA088BDDC6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D088976-CB54-4E6F-9A78-E2CDAF8FAC68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A63AAE6-5909-496C-83A3-53DBAD7A13D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E50BC9DA-3D77-4A33-8A17-42322C4D7871</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>843402D6-F313-4155-BB81-8D877E6D83FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D0F8F42-B0C5-43C6-9044-CA660DEFA751</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D088976-CB54-4E6F-9A78-E2CDAF8FAC68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9669DCE-A14C-4346-B2C9-EB2FCFE7D589</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DAF14989-62CC-4D68-B027-C28AA4206C6C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2F17C13-9731-4EE4-B518-2AD9A3C06977</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B010229-E017-4007-A4BA-EBACFDA09709</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>138415AE-19B9-402E-921A-E60A80BE4BAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D9669DCE-A14C-4346-B2C9-EB2FCFE7D589</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2F17C13-9731-4EE4-B518-2AD9A3C06977</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>60AF26CC-C7DF-4A13-B609-B7D524CF51C8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E457C103-B6B8-4736-A17F-FA43865C44FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>843402D6-F313-4155-BB81-8D877E6D83FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E50BC9DA-3D77-4A33-8A17-42322C4D7871</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FA4F774-1032-496C-BF2B-ABFA088BDDC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7874D9CD-C320-441A-9D5E-5F34D151051F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E457C103-B6B8-4736-A17F-FA43865C44FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F255CAC8-AA78-49B1-A89E-6AD76025EE13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D088976-CB54-4E6F-9A78-E2CDAF8FAC68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sören Liebich</string>
	<key>description</key>
	<string>Manage SSH configuration based on 1Password</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>1Password SSH</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>0B010229-E017-4007-A4BA-EBACFDA09709</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./createSsh.sh -a $ACCOUNT -d -s $SESSION -v $VAULT</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./test.sh</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B2F17C13-9731-4EE4-B518-2AD9A3C06977</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4FA4F774-1032-496C-BF2B-ABFA088BDDC6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>SSH folder and config created</string>
				<key>title</key>
				<string>SSH created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>138415AE-19B9-402E-921A-E60A80BE4BAA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>0</string>
						<key>outputlabel</key>
						<string>logged in</string>
						<key>uid</key>
						<string>7874D9CD-C320-441A-9D5E-5F34D151051F</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>login</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E50BC9DA-3D77-4A33-8A17-42322C4D7871</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>create</string>
						<key>outputlabel</key>
						<string>Create SSH Config</string>
						<key>uid</key>
						<string>60AF26CC-C7DF-4A13-B609-B7D524CF51C8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D9669DCE-A14C-4346-B2C9-EB2FCFE7D589</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Create","arg":"create","subtitle":"Create SSH Config"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>9D088976-CB54-4E6F-9A78-E2CDAF8FAC68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Enter 1P master password to login</string>
				<key>text</key>
				<string>Enter password</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>843402D6-F313-4155-BB81-8D877E6D83FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

yes "$query" | $OP_CMD signin "$ACCOUNT.$SERVER" "$MAIL" "$SECRET_KEY" --shorthand $ACCOUNT --raw 

#echo -n "$?"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3D0F8F42-B0C5-43C6-9044-CA660DEFA751</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ssh1pw</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>SSH 1Password</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>45041D10-DD9A-43FD-B45E-5B9278258254</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

$OP_CMD get account --session $SESSION 1&gt;/dev/null 2&gt;/dev/null

echo -n "$?"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6A63AAE6-5909-496C-83A3-53DBAD7A13D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>SESSION</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F255CAC8-AA78-49B1-A89E-6AD76025EE13</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E457C103-B6B8-4736-A17F-FA43865C44FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>DAF14989-62CC-4D68-B027-C28AA4206C6C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0B010229-E017-4007-A4BA-EBACFDA09709</key>
		<dict>
			<key>xpos</key>
			<integer>1790</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>138415AE-19B9-402E-921A-E60A80BE4BAA</key>
		<dict>
			<key>xpos</key>
			<integer>1745</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>3D0F8F42-B0C5-43C6-9044-CA660DEFA751</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>45041D10-DD9A-43FD-B45E-5B9278258254</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>4FA4F774-1032-496C-BF2B-ABFA088BDDC6</key>
		<dict>
			<key>xpos</key>
			<integer>885</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>6A63AAE6-5909-496C-83A3-53DBAD7A13D1</key>
		<dict>
			<key>note</key>
			<string>Checks if current session is logged in</string>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>843402D6-F313-4155-BB81-8D877E6D83FF</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>9D088976-CB54-4E6F-9A78-E2CDAF8FAC68</key>
		<dict>
			<key>xpos</key>
			<integer>1070</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>B2F17C13-9731-4EE4-B518-2AD9A3C06977</key>
		<dict>
			<key>xpos</key>
			<integer>1495</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>D9669DCE-A14C-4346-B2C9-EB2FCFE7D589</key>
		<dict>
			<key>xpos</key>
			<integer>1275</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>DAF14989-62CC-4D68-B027-C28AA4206C6C</key>
		<dict>
			<key>xpos</key>
			<integer>1285</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>E457C103-B6B8-4736-A17F-FA43865C44FF</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>E50BC9DA-3D77-4A33-8A17-42322C4D7871</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>F255CAC8-AA78-49B1-A89E-6AD76025EE13</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<integer>895</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>ACCOUNT</key>
		<string>liebich</string>
		<key>JQ_CMD</key>
		<string>/usr/local/bin/jq</string>
		<key>MAIL</key>
		<string>soeren.liebich@gmail.com</string>
		<key>OP_CMD</key>
		<string>/usr/local/bin/op</string>
		<key>SECRET_KEY</key>
		<string>A3-HRYLHG-6SAABN-95DPF-ENP5P-FRCX7-PVQDS</string>
		<key>SERVER</key>
		<string>1password.eu</string>
		<key>SESSION</key>
		<string></string>
		<key>VAULT</key>
		<string>Secrets</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>MAIL</string>
		<string>VAULT</string>
		<string>ACCOUNT</string>
		<string>SESSION</string>
		<string>SECRET_KEY</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/liebsoer/1p-ssh</string>
</dict>
</plist>
